WEBFLOW_CLIENT_ID=
WEBFLOW_CLIENT_SECRET=
REDIS_URL=redis://127.0.0.1:6379
APP_BASE_URL=http://localhost:3001
DESIGNER_EXTENSION_URI=http://localhost:1337
PORT=3001

# Development tunnel only
NGROK_AUTH_TOKEN=
